body{
    background-image: url("https://img.freepik.com/free-vector/white-color-background-gradient-abstract-modern_343694-2130.jpg");
    background-size: cover;
}
header{
    text-align: center;
    padding: 10px;
    
}
header img{
    width: 400px;
    height: 300px;
    margin-bottom: 10px;
}
.gmi{
    float: left;
    width: 150px;
    height: 150px; 
    margin-bottom: auto; 
}
.gmd{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: larger;
    font-weight:600;
    text-transform: uppercase;
    margin-bottom: auto;
}
header nav a {
    list-style: none;
    padding: 0;
    text-decoration: none;
    font-weight: bold;

}
.title{
    font-size: 3em;  
    background: linear-gradient(to right, #f00, #ff0);  
    -webkit-background-clip: text;  
    color: transparent;  
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
footer{
    text-align: center;
    padding: 10px;
}

